/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Colours
Purple: 360568
Lighter Purple: 5b2a86
Grey Blue: 7785ac
Blue: 9ac6c5
Green: a5e6ba
Pale Green: f0fff1
*/

@font-face {
    font-family: 'Bellati';
    src: url("library-fonts/Bellati\ Nortils\ DEMO\ VERSION.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'LinLibertine';
    src: url('library-fonts/LinLibertine_normal.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'LinLibertine';
    src: url("library-fonts/LinLibertine_bold.woff2") format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'LinLibertine';
    src: url('library-fonts/LinLibertine_ital.woff2') format('woff2');
    font-style: italic;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: minmax(370px, 1fr) 3fr;
    height: 100vh;
    width: 100vw;
} 

.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
    padding: 30px;
    overflow: scroll;
}

[data-status="active"] {
    grid-template-rows: 250px 40px;
    gap: 10px;
}

form {
    display: grid;
    grid-template-rows: 30px 30px 30px 80px 40px;
    gap: 10px;
}

textarea {
    height: 60px;
    font-family: "LinLibertine", sans-serif;
    font-size: 15px;
    padding: 10px;
}

.title-section,
.author-section,
.length-section,
.comment-section {
    display: grid;
    grid-template-columns: 70px 1fr;
    gap: 5px;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: 40px;
}

input[type="text"] {
    height: 30px;
    font-family: "LinLibertine", sans-serif;
    font-size: 15px;
    padding-left: 10px;
}

button[type="submit"] {
    height: 40px;
}

[data-status="inactive"] {
    grid-template-rows: 0px 40px;
}

.book-card {
    width: 200px;
    height: 200px;
    padding: 25px;
    display: grid;
    grid-template-rows: 160px 40px;
    line-height: 1.5;
    background-color: #f0fff1;
    border-radius: 8px;
    border: 3px solid #a5e6ba;
    box-shadow: 8px 8px #aa55ee66;
}

.title {
    font-family: "Bellati", sans-serif;
    font-size: 20px;
}

.book-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.author,
.length,
.comment {
    font-family: "LinLibertine", sans-serif;
}

button {
    font-family: "Bellati", sans-serif;
    font-size: 15px;
}

.left-side {
    background-color: #a5e6ba;
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 30px;
}

.right-side {
    background-color: #360568;
    height: 100vh;
    display: grid;
    align-items: center;
    padding: 30px;
}

input[type="text"],
textarea {
    background-color: #f0fff1;
    border: 0px;
    border-radius: 8px;
}

[data-status="active"],
[data-status="inactive"] {
    font-family: "LinLibertine", sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: grid;
    padding: 30px;
    background-color: #360568;
    border-radius: 8px;
    border: 3px solid #7785ac;
}

.title-label,
.author-label,
.length-label,
.comment-label {
    color: #f0fff1;
    font-weight: 700;
}

.interaction-panel button {
    border: 3px solid #9ac6c5;
    border-radius: 8px;
    background-color: #7785ac;
    color: #360568;
}

.book-card button {
    border: 3px solid #5b2a86;
    border-radius: 8px;
    background-color: #aa55ee66;
    color: #360568;
}

.error-div {
    color: #f0fff1;
    display: grid;
    align-items: center;
    height: 40px;
    font-weight: 700;
    line-height: 1.5;
}

